/* Global Styles */
body {
    background-color:#edeef6;
    font-family:'Courier New', Courier, monospace;
    color:#35383e;
    font-size:18px;
}

/* Heading Styles */
h1 {
    color:white;
    font-size: 72px;
    padding-left: 50px;
}
h2 {
    font-size: 48px;
    color: blue;
    background: lightblue;
}
h3 {
    font-size: 42px;
    font-weight: bold;
    text-align: right;
}
h4 {
    font-size: 24px;
    font-weight: bold;
    margin-top: -15px;
}
h5 {
    font-size: 16px;
    margin-top: -20px;
    margin-bottom: 10px;
}

/* Images Style */
img {
    filter: alpha(opacity=100);
    opacity: 1;
}
/* Images Style When Hovered Over */
img:hover {
    filter: alpha(opacity=70);
    opacity: 0.7;
}

/* Link Styles */
a {
    color: blue;
    padding-left: 40px;
    font-weight: bold;
    font-size: 24px;
}
/* Link Style When Clicked On */
a:visited {
    color: purple;
}

/* Section Style */
section {
    display: flex;
    flex: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 1500px;
}

/* Header Section Style */
header {
    background-image: url('header-image.jpg');
    display:flex;
    flex-wrap: wrap;
    margin: 10px;
    height: 300px;
    position: relative;
}
#subtitle {
    position: absolute;
    background: lightblue;
    color: blue;
    width: 700px;
    margin-left: 710px;
    margin-right: auto;
    margin-top: 200px;
    padding-left: 10px;
}

@media screen and (max-width: 1490px) {
    #subtitle {
        font-size: 18px;
    }
}

/* Nav Style */
nav {
    position: relative;
    margin-bottom: 20px;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}
nav a:link {
    padding-left: 40px;
    font-weight: bold;
    font-size: 24px;
    color: white;
}
/* Nav Style When Clicked On */
nav a:visited {
    color: lightblue;
}

/* Aside Style (About, Work, & Contact) */
.aside {
    display: grid;
    grid-auto-flow: column;
    align-content: right;
    min-width: 250px;
    border-right-style: solid;
    border-color:#3e5373;
    border-width: thick;
    margin-right: 50px;
    padding-right: 10px;
}

/* About Section Style */
.about-content {
    flex: 75%;
    justify-content: space-between;
    width: 1000px;
}
.profile {
    display: flex;
}
.potrait-container {
    flex: 1;
}
.portrait {
    width: 300px;
    height: 300px;
    padding-top: 30px;
} 
.bio {
    flex: 2;
    width: 100%;
    float: right;
    margin-left: 50px;
    margin-right: 50px;
}

/* Work Section Style */
.primary-project-content {
    flex: 75%;
    width: 100%;
    justify-content: space-between;
}
.primary-project-column {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Top Work Section Style (Primary Image) */
.primary-project-image {
    border-style: solid;
    border-width: 10px;
    border-color:lightblue;
    height: 500px;
    object-fit: cover;
    width: 100%;
    margin-left: -40px;
}
.primary-project-title {
    background-color: lightblue;
    position: absolute;
    bottom: 60px;
    padding-left: 20px;
    padding-right: 15px;
}

/* Bottom Work Section Style (Smaller Project Images) */
.secondary-project-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.card {
    display: flex;
    resize: both;
    border-style: solid;
    border-width: 10px;
    border-color:lightblue;
    height: 150px;
    width: 500px;
    margin-top: 15px;
  }
.project-image {
    height: 150px;
    width: 500px;
    margin-left: -40px;
}
.project-title {
    background-color: lightblue;
    position: absolute;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 60px;
}

/* Contact Section Style */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    font-size: 24px;
    width: 100%;
      }
.contact > div {
    padding-right: 25px;
}

/* Footer Style */
footer {
    text-align: left;
    padding-top: 50px;
    padding-left: 200px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
.secondary-project-content {
      width: 100%;
    }
  }