/* Global Styles */
body {
    background-color:#edeef6;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #3e5373;
}

/* Heading Styles */
h1 {
    font-size: 48px;
    color: white;
    padding: 15px 20px 0;
}
h2 {
    font-size: 24px;
    color: navy;
}
h3 {
    font-size: 36px;
    font-weight: bold;
    text-align: right;
    margin-right: 25px;
}
h4 {
    font-size: 24px;
    font-weight: bold;
    margin-top: -15px;
}
h5 {
    font-size: 16px;
    margin-top: -30px;
    margin-bottom: 10px;
}

/* Images Style */
img {
    filter: alpha(opacity=100);
    opacity: 1;
}
img:hover {
    filter: alpha(opacity=70);
    opacity: 0.7;
}

/* Link Styles */
a {
    font-size: 24px;
    font-weight: bold;
    color: navy;
}
a:hover {
    color: lightseagreen;
}
a:visited {
    font-weight: bold;
    color: olive;
}

/* Header Section Style */
header {
    background-image: url(/assets/images/header-image.jpg);
    display:flex;
    flex-wrap: wrap;
    position: relative;
    margin: 10px;
    height: 200px;
}
#subtitle {
    position: absolute;
    box-sizing: border-box;
    max-width: 400px;
    width: 100%;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background: lightblue;
    text-align: left;
    font-size: 18px;
}

/* Nav Section Style */
nav {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 15px;
    right: 10px;
    align-items: center;
}
nav ul {
    display: flex;
    flex: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
   color: white;
}

/* Section Style */
section {
    display: flex;
    max-width: 1500px;
    padding: 25px 25px;
}    
/* Main Style */
main {
    display: flex;
    flex-wrap: wrap;
}

/* Aside Style (About, Work, & Contacts) */
.aside {
    display: grid;
    grid-auto-flow: column;
    min-width: 250px;
    border-right: thick solid #3e5373;
    margin-right: 50px;
    padding-right: 10px;
}

/* About Section Style */
.about-content {
    padding: 16px;
}
.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.potrait-container {
    margin: 16px;
}
.portrait {
    width: 100%;
    max-width: 200px;
    border: 10px solid lightblue;
  }
.bio {
    text-align: justify;
}

/* Work Section Style */
.primary-project-content {
    padding: 16px;
}
.primary-project-column {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Top Work Section Style (Primary Image) */
.primary-project-image {
    height: 500px;
    object-fit: cover;
    width: 100%;
    margin-left: -40px;
    border: 10px solid lightblue;
}
.primary-project-title {
    position: absolute;
    margin-top: 400px;
    margin-left: -30px;
    padding: 20px 20px 0 20px;
    background-color: lightblue;
}

/* Bottom Work Section Style (Smaller Project Images) */
.secondary-project-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    }
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    object-fit: fill;
    align-items: left;
    height: 150px;
    width: 450px;
    margin-top: 30px;
  }
.project-image {
    max-width: 500px;
    width: 100%;
    max-height: 150px;
    margin-left: -40px;
    align-items: center;
    border: 10px solid lightblue;
}
.project-title {
    position: absolute;
    margin-top: 60px;
    margin-left: -40px;
    padding: 20px 20px 0 20px;
    background-color: lightblue;
}

/* Contact Section Style */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 24px;
}
.contact > div {
    padding-right: 75px;
}
/* Footer Style */
footer {
    text-align: left;
    padding: 50px 0 0 100px;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    h1 {
        padding-top: 0px;
        font: 14px;
    }
    nav {
        position: relative;
        display: block;
        margin-top: 10px;
        margin-left: 20px;
        text-align: left;
    }
    nav ul {
        display: block;
        margin: 0;
        padding: 0;
    }
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    nav ul li a {
        font: 12px;
        color: navy;
    }
    #subtitle {
        position: absolute;
        margin-bottom: 5px;
        margin-right: 5px;
        width: 90px;
        padding: 5px;
        background: lightblue;
        font-size: 12px;
    }
    .primary-project-title {
        font-size: 14px;
    }
}