body {
    background-color:#edeef6;
    font-family:'Courier New', Courier, monospace;
    color:#35383e;
    font-size:18px;

}

/* Heading Styles */
h1 {
    font-size:72px;
    font-weight: bold;
}

h2 {
    font-size: 42px;
    text-align: right;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

h4 {
    font-size: 16px;
    margin-top: -20px;
    margin-bottom: 10px;
}

/* Header Section Style */
header {
    display:flex;
    margin:100px;
}

/* Nav Style */
nav ul {
    display:flex;
    justify-content:space-between;
    min-width:300px;
}

main {
    margin-left: 20px;
}

/* Section Styles */
section {
    display:flex;
    flex: flex-wrap;
    padding-top: 25px;
    padding-bottom: 25px;
}

.aside {
    width: 25%;
    border-right-style: solid;
    border-color:#3e5373;
    border-width: thick;
    padding-right: 50px;
    white-space: nowrap;
}

.content {
    flex: 4;
    width: 75%;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 80px;
}

.projects-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* Products */
.projects-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  border-style: solid;
  border-width: 6px;
  border-color:lightblue;
  flex: 0.49;
  margin-top: 15px;
  position: relative;
}

.card img {
    height: 150px;
    width: 100%;
}

.primary-image-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex:2;
}

.primary-image {
    height: 500px;
    object-fit: cover;
}

.project-title {
    position: absolute;
    bottom: 20px;
    background-color: lightblue;
    padding-right: 10px;
    padding-left: 10px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .section {
      width: 100%;
    }
  }

  @media screen and (max-width: 1000px) {
    .projects {
      width: 100%;
    }
  } 